@font-face {
  font-family: "Intro Light";
  src: url("../fonts/Intro-Light.otf") format("opentype"); }

@font-face {
  font-family: "Lazurski";
  src: url("../fonts/Lazurski-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Lazurski Bold";
  src: url("../fonts/Lazurski-Bold.ttf");
  font-weight: bold; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #21120C; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.hidden {
  display: none !important; }

.link-detail {
  display: inline-block;
  color: #E08B66;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  transition: padding-left 300ms; }
  .link-detail:hover {
    padding-left: 20px; }

.link-detail__image {
  margin-left: 10px; }

.button-transition {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  padding-right: 83px;
  color: #E08B66;
  font-size: 16px;
  line-height: 32px;
  font-family: "Intro Light";
  letter-spacing: -0.191667px;
  text-decoration: none;
  border: 1px solid rgba(224, 139, 102, 0.5); }
  .button-transition:hover > .button-transition__image {
    right: 20px; }

.button-transition__image {
  position: absolute;
  top: calc(50% - 5px);
  right: 40px;
  transition: right 300ms; }

.section-title {
  position: relative;
  display: inline-block;
  margin: 0;
  color: #E08B66;
  font-size: 24px;
  line-height: 32px;
  font-family: "Lazurski Bold";
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .section-title::before {
    content: "";
    position: absolute;
    bottom: -5px;
    display: block;
    width: 50%;
    height: 1px;
    background-color: #E08B66; }
  @media screen and (min-width: 768px) {
    .section-title {
      font-size: 36px;
      line-height: 42px; } }
  @media screen and (min-width: 1440px) {
    .section-title {
      font-size: 64px;
      line-height: 80px; } }

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  padding: 20px 15px;
  box-sizing: border-box;
  background-color: rgba(175, 175, 175, 0.09);
  transition: border 300ms; }
  .product-card:hover {
    border: 1px solid #E08B66; }

.product-card__image {
  width: 100%; }

.product-card__title {
  margin: 0px;
  margin-top: 10px;
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 120%;
  font-family: "Lazurski";
  font-weight: normal;
  letter-spacing: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.26); }

.product-card__description {
  display: none; }
  @media screen and (min-width: 768px) {
    .product-card__description {
      display: block;
      color: #FFFFFF;
      font-family: "Intro Light";
      font-size: 16px;
      line-height: 32px; } }

.product-card__button-detail {
  display: none; }
  @media screen and (min-width: 768px) {
    .product-card__button-detail {
      display: block; } }

.product-card--view-1 {
  width: 124px;
  height: 124px; }
  @media screen and (min-width: 768px) {
    .product-card--view-1 {
      width: 309px;
      height: 285px; } }

.product-card--view-2 {
  width: 122px;
  height: 257px; }
  @media screen and (min-width: 768px) {
    .product-card--view-2 {
      width: 309px;
      height: 100%; } }

@media screen and (min-width: 768px) {
  .our-products__list {
    height: 597px !important; } }

.jumping-slider {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden; }

.jumping-slider__item {
  flex-shrink: 0;
  margin-right: 30px;
  width: 253px; }

.jumping-slider__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 186px;
  overflow: hidden; }

.jumping-slider__image {
  width: 100%; }

.jumping-slider__title {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 10px;
  font-family: "Lazurski";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF; }

.jumping-slider__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #E08B66; }

.jumping-slider__description {
  margin: 0;
  margin-top: 15px;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
  color: #F8F8F8; }

.jumping-slider__link-detail {
  margin-top: 10px; }

@media screen and (min-width: 768px) {
  .jumping-slider {
    height: 390px; }
  .jumping-slider__item {
    position: absolute; }
  .jumping-slider__image-wrapper {
    width: 530px;
    height: 390px; }
  .jumping-slider__text {
    position: absolute;
    bottom: 20px;
    left: 40px; }
  .jumping-slider__title::after {
    width: 65px; }
  .jumping-slider__description {
    width: 450px; }
  .jumping-slider__link-detail {
    margin-top: 15px; } }

@media screen and (min-width: 1440px) {
  .jumping-slider {
    height: 590px; }
  .jumping-slider__image-wrapper {
    width: 717px;
    height: 527px; }
  .jumping-slider__text {
    bottom: 40px;
    left: 60px; }
  .jumping-slider__title {
    font-size: 24px;
    line-height: 36px; }
  .jumping-slider__title::after {
    width: 87px; }
  .jumping-slider__description {
    margin-top: 20px; }
  .jumping-slider__link-detail {
    margin-top: 30px; } }

.jumping-slider-options {
  display: none; }
  @media screen and (min-width: 1440px) {
    .jumping-slider-options {
      display: block;
      margin-top: 80px; } }

.header {
  position: absolute;
  width: 100%;
  z-index: 10; }

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 12px;
  padding-bottom: 0; }

.logo {
  margin-right: 43px;
  width: 86px; }

.main-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.main-menu__item {
  height: 20px; }

.main-menu__item:nth-child(n+2) {
  display: none; }

.main-menu__item-button {
  position: absolute;
  right: 12px; }

.main-menu-button {
  display: flex;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 20px;
  background-color: transparent;
  border: 1px solid white;
  border-left: none;
  border-right: none;
  cursor: pointer; }

.main-menu-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: width 300ms; }

.main-menu-button:hover::before {
  width: 60%; }

.main-menu__link {
  transition: color 200ms; }

.main-menu__link:hover {
  color: #E08B66; }

.user-menu {
  margin: 0;
  margin-right: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none; }

.user-menu__item {
  margin-right: 43px; }

.user-menu__item:nth-child(n+3) {
  display: none; }

@keyframes pulse {
  25% {
    transform: scale(1.1); }
  75% {
    transform: scale(0.9); } }

.user-menu__link:hover > .user-menu-icon--heart {
  animation-name: pulse;
  animation-duration: 500ms;
  animation-iteration-count: 2; }

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }

.user-menu__link:hover > .user-menu-icon--phone {
  animation-name: buzz-out;
  animation-duration: 1s; }

.user-menu-icon--search {
  transition: transform 300ms; }

.user-menu__link:hover > .user-menu-icon--search {
  transform: scale(1.1); }

@media screen and (min-width: 768px) {
  .header__nav {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px; }
  .main-menu__item-button {
    right: 20px; }
  .user-menu__item:nth-child(n+3) {
    display: block; }
  .user-menu__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px; }
  .main-menu__item:nth-child(n) {
    display: block; }
  .main-menu__item:nth-child(n+3) {
    display: none; }
  .main-menu__link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    font-family: "Intro Light";
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none; } }

@media screen and (min-width: 1440px) {
  .header__nav {
    justify-content: flex-start;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px; }
  .logo {
    margin-right: 0;
    width: 126px; }
  .main-menu {
    margin-left: 100px; }
  .main-menu__item {
    margin-right: 50px; }
  .main-menu__item-button {
    position: static; }
  .main-menu__item:nth-child(n) {
    display: block; }
  .user-menu {
    margin-left: auto;
    margin-right: 0; } }

@media screen and (min-width: 1920px) {
  .main-menu {
    margin-left: 140px; } }

.banner {
  position: relative; }

.banner__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.banner__item {
  display: flex;
  flex-direction: column;
  padding-top: 112px;
  padding-bottom: 45px;
  padding-left: 12px;
  padding-right: 12px;
  background: url(../img/background.png) no-repeat 50% 0;
  background: linear-gradient(180deg, rgba(24, 14, 9, 0) calc(100% - 100px), #190E09 100%), linear-gradient(0deg, rgba(18, 10, 6, 0.7), rgba(18, 10, 6, 0.7)), url(../img/background.png) no-repeat 35% 0; }

.banner__item.banner__item--slide-2 {
  background: url(../img/background_2.png) no-repeat 50% 0;
  background: linear-gradient(180deg, rgba(24, 14, 9, 0) calc(100% - 100px), #190E09 100%), linear-gradient(0deg, rgba(18, 10, 6, 0.7), rgba(18, 10, 6, 0.7)), url(../img/background_2.png) no-repeat 100% 0;
  background-size: auto 100%; }

.banner__description {
  order: 1; }
  @media screen and (min-width: 360px) {
    .banner__description {
      margin-left: 0 !important; } }

.banner__title {
  order: 2; }

.banner-menu-diamond {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  display: flex;
  justify-content: center; }

.banner-menu-diamond__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.banner-menu-diamond__icon path {
  fill: rgba(255, 255, 255, 0.3);
  transition: fill 200ms; }

.banner-menu-diamond__button:hover > .banner-menu-diamond__icon path,
.banner-menu-diamond__button--active > .banner-menu-diamond__icon path {
  fill: rgba(224, 139, 102, 0.7); }

.banner-menu-circle {
  display: none; }

.banner-title {
  margin: 0;
  margin-top: 30px;
  max-width: 335px;
  color: #fff;
  font-size: 36px;
  line-height: 42px;
  font-family: "Lazurski";
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media screen and (min-width: 360px) {
    .banner-title {
      margin-left: auto;
      margin-right: auto;
      width: 335px; } }

.banner-title__bigger {
  display: block;
  color: #E08B66;
  text-align: right; }

.banner-description {
  margin: 0 auto;
  width: 296px;
  font-family: "Intro Light"; }

.banner-description__button {
  margin-top: 30px; }

.banner-description__text {
  margin: 0;
  color: #fff;
  font-size: 16px;
  line-height: 26px; }

@media screen and (min-width: 768px) {
  .banner__item {
    padding-top: 133px;
    padding-bottom: 135px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(180deg, rgba(24, 14, 9, 0) calc(100% - 150px), #190E09 100%), radial-gradient(243.38px at 70.46% 43.59%, rgba(18, 10, 6, 0) 0%, rgba(18, 10, 6, 0.38) 100%), url(../img/background_768.png) no-repeat 50% 0; }
  .banner-title {
    margin-top: 60px;
    margin-bottom: 0;
    max-width: inherit;
    width: 650px;
    margin-left: 0;
    font-size: 64px;
    line-height: 80px; }
  .banner-title__bigger {
    font-size: 100px;
    line-height: 80px; }
  .banner__description {
    margin-left: 0;
    width: 325px; }
  .banner-description__text {
    font-size: 24px;
    line-height: 36px; }
  .banner-description__button {
    margin-top: 15px; }
  .banner-menu-diamond {
    bottom: 30px; } }

@media screen and (min-width: 1440px) {
  .banner__item {
    position: relative;
    padding-top: 280px;
    padding-left: 270px;
    padding-bottom: 235px;
    background: linear-gradient(180deg, rgba(24, 14, 9, 0) calc(100% - 150px), #190E09 100%), url(../img/background_1440.png) no-repeat 30% 30%; }
  .banner__title {
    margin-top: 200px;
    width: 550px; }
  .banner__description {
    width: 550px; }
  .banner-description__button {
    margin-top: 40px; }
  .banner-menu-diamond {
    display: none; }
  .banner-menu-circle {
    position: absolute;
    right: -150px;
    bottom: 0;
    display: block;
    height: 410px;
    overflow: hidden; } }

@media screen and (min-width: 1920px) {
  .banner__item {
    padding-left: 310px;
    padding-bottom: 220px;
    background: linear-gradient(180deg, rgba(24, 14, 9, 0) calc(100% - 150px), #190E09 100%), url(../img/background_1440.png) no-repeat calc(100% + 80px) -30px; }
  .banner__title {
    margin-top: 100px;
    width: 650px; }
  .banner-menu-circle {
    right: 170px; } }

.advantages {
  position: relative;
  padding: 0 12px;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 15px;
  background-color: #190E09; }

.advantages::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 72px;
  background-image: url(../../img/section_skew_320.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 10; }
  @media screen and (min-width: 768px) {
    .advantages::after {
      height: 150px;
      background-image: url(../../img/section_skew_768.svg); } }
  @media screen and (min-width: 1440px) {
    .advantages::after {
      height: 190px;
      background-image: url(../../img/section_skew_1440.svg); } }
  @media screen and (min-width: 1920px) {
    .advantages::after {
      height: 300px;
      background-image: url(../../img/section_skew_1920.svg); } }

.advantages-title-wrapper {
  position: relative;
  display: flex;
  align-items: center; }

.advantages__button-next {
  position: absolute;
  right: 10px;
  padding: 0;
  background-color: transparent;
  border: none; }

.advantages-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden; }

.advantages__list {
  margin-top: 40px; }

.advantages-list__item {
  margin-right: 30px;
  width: 235px;
  flex-shrink: 0; }

.advantages-article__image-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
  overflow: hidden; }

.advantages-article__image-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 300ms; }

.advantages-article__image-wrapper:hover > .advantages-article__image-mask {
  background-color: rgba(0, 0, 0, 0.2); }

.advantages-article__image-wrapper:hover > .advantages-article__image {
  transform: scale(1.2); }

.advantages-article__image {
  width: 100%;
  transition: transform 300ms; }

.advantages-article__image-wrapper:hover > .advantages-article__button-prev,
.advantages-article__image-wrapper:hover > .advantages-article__button-next {
  display: block; }

.advantages-article__button-prev,
.advantages-article__button-next {
  position: absolute;
  display: none;
  padding: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.advantages-article__button-prev {
  left: 0;
  padding-left: 25px; }

.advantages-article__button-next {
  right: 0;
  padding-right: 25px; }

.advantages-article__title {
  margin: 0;
  margin-top: 30px;
  color: #FFFFFF;
  font-family: "Lazurski";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px; }

.advantages-article__text {
  margin: 0;
  margin-top: 20px;
  color: #FFFFFF;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 30px; }

.advantages-article__button {
  margin-top: 30px; }

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 135px;
    padding-bottom: 72px;
    padding-left: 20px; }
  .advantages__list {
    margin-top: 0; }
  .advantages-list__item:nth-child(n) {
    margin-top: 30px; }
  .advantages-list__item:nth-child(2n+1) {
    margin-top: 105px; }
  .advantages-list__item {
    margin-right: 50px;
    width: 400px; } }

@media screen and (min-width: 1440px) {
  .advantages {
    padding-left: 275px;
    padding-top: 109px;
    background: url(../img/background_diamond.png) no-repeat calc(100% + 320px) 100%, linear-gradient(0deg, #190e09, #190e09); }
  .advantages-list__item {
    margin-right: 60px;
    width: 550px; }
  .advantages__button-next {
    right: 50px; } }

@media screen and (min-width: 1920px) {
  .advantages {
    padding-bottom: 110px;
    padding-left: 270px; }
  .advantages-title-wrapper {
    padding-left: 45px; }
  .advantages__button-next {
    right: 145px; }
  .advantages-list__item:nth-child(n) {
    margin-top: 40px; }
  .advantages-list__item:nth-child(2n+1) {
    margin-top: 180px; } }

.our-products {
  position: relative;
  padding: 12px;
  padding-top: 102px;
  padding-bottom: 50px; }
  .our-products::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 72px;
    background-image: url(../../img/section_skew_320.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 10; }
    @media screen and (min-width: 768px) {
      .our-products::after {
        height: 150px;
        background-image: url(../../img/section_skew_768.svg); } }
    @media screen and (min-width: 1440px) {
      .our-products::after {
        height: 190px;
        background-image: url(../../img/section_skew_1440.svg); } }
    @media screen and (min-width: 1920px) {
      .our-products::after {
        height: 300px;
        background-image: url(../../img/section_skew_1920.svg); } }

.our-products__description {
  margin: 0;
  margin-top: 45px;
  color: #FFFFFF;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  font-family: "Intro Light"; }

.our-products__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  height: 257px;
  list-style-type: none; }

.product-card__button-transition {
  margin-top: 40px; }

@media screen and (min-width: 768px) {
  .our-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 150px;
    padding-bottom: 50px; }
  .our-products__title {
    order: 1; }
  .our-products__description {
    order: 2;
    margin-top: 65px;
    width: 716px; }
  .product-card__button-transition {
    order: 3;
    margin-top: 30px; }
  .our-products__list {
    order: 4;
    margin-top: 50px; } }

@media screen and (min-width: 1440px) {
  .our-products {
    padding-left: 270px;
    padding-top: 228px; } }

@media screen and (min-width: 1920px) {
  .our-products {
    position: relative;
    padding-top: 230px;
    padding-bottom: 465px;
    padding-left: 310px;
    background: url(../../img/our_products_diamond_bc.png) no-repeat;
    background-position: bottom 60px left 310px; }
  .our-products__description {
    width: 415px; }
  .our-products__list {
    position: absolute;
    top: 320px;
    margin-left: 595px;
    height: 675px !important; } }

.collections {
  padding-left: 12px;
  padding-top: 125px;
  padding-bottom: 50px; }

.collections__slider {
  margin-top: 45px; }

.collections__button-transition {
  margin-top: 40px; }

@media screen and (min-width: 768px) {
  .collections {
    position: relative;
    padding-bottom: 105px;
    padding-left: 20px; }
  .collections__button-transition {
    position: absolute;
    top: 120px;
    right: 20px;
    margin: 0; } }

@media screen and (min-width: 1440px) {
  .collections {
    padding-top: 225px;
    padding-bottom: 100px;
    padding-left: 270px;
    background: url(../img/background_diamond.png) no-repeat -457px 200px; }
  .collections__button-transition {
    top: 240px;
    right: 40px; } }

@media screen and (min-width: 1920px) {
  .collections {
    padding-top: 227px;
    padding-bottom: 100px;
    padding-left: 310px; } }

.stocks {
  padding-top: 52px;
  padding-bottom: 50px;
  padding-left: 12px;
  background-color: #130A07; }

.stocks__slider {
  margin-top: 40px !important; }

.stocks__button-transition {
  margin-top: 40px; }

@media screen and (min-width: 768px) {
  .stocks {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 20px; }
  .stocks__slider {
    margin-top: 50px !important; }
  .stocks__button-transition {
    position: absolute;
    margin: 0;
    top: 70px;
    right: 20px; } }

@media screen and (min-width: 1440px) {
  .stocks {
    position: relative;
    padding-top: 152px;
    padding-bottom: 100px;
    padding-left: 270px; }
  .stocks__title {
    position: absolute; }
  .stocks__slider {
    margin: 0 !important; }
  .stocks__button-transition {
    top: auto;
    right: auto;
    bottom: 310px;
    left: 270px; } }

@media screen and (min-width: 1920px) {
  .stocks {
    padding-left: 310px;
    background: #130A07 url(../../img/background_diamond.png) no-repeat;
    background-position: bottom -260px right -400px; }
  .stocks__button-transition {
    left: 310px; } }

.stocks-slider {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.stocks-slider-options {
  display: none; }

.stocks-slider__item {
  flex-shrink: 0;
  margin-right: 30px;
  width: 253px; }

.stocks-slider__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 186px;
  overflow: hidden; }

.stocks-slider__image {
  width: 100%; }

.stocks-slider__title {
  margin: 0;
  margin-top: 30px;
  font-family: "Lazurski";
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF; }

.stocks-slider__description {
  margin: 0;
  margin-top: 20px;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF; }

.stocks-slider__link-detail {
  margin-top: 30px; }

@media screen and (min-width: 768px) {
  .stocks-slider__item {
    width: 296px; }
  .stocks-slider__title {
    line-height: 36px; }
  .stocks-slider__link-detail {
    margin-top: 40px; } }

@media screen and (min-width: 1440px) {
  .stocks-slider__item:nth-child(n + 2) {
    display: none; }
  .stocks-slider__item {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .stocks-slider__image-wrapper {
    order: 1;
    width: 750px;
    height: 550px; }
  .stocks-slider__title {
    margin-top: 120px; }
  .stocks-slider__description {
    margin-top: 30px;
    width: 363px; }
  .stocks-slider-options {
    display: block;
    margin-top: 135px; } }

@media screen and (min-width: 1920px) {
  .stocks-slider__item {
    justify-content: flex-start; }
  .stocks-slider__text {
    margin-right: 85px; } }

.company {
  padding: 12px;
  padding-top: 50px;
  padding-bottom: 52px; }

.company__image {
  margin-top: 40px;
  width: 100%; }

.company__year-foundation {
  display: block;
  width: 100%;
  height: 1px;
  text-align: center;
  font-family: "Lazurski";
  font-size: 100px;
  font-weight: normal;
  line-height: 100px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #E08B66;
  transform: translateY(-50px); }

.company__description {
  margin: 0;
  margin-top: 65px;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
  color: #F8F8F8; }

.company__link-detail {
  margin-top: 30px; }

.company__button-up {
  position: absolute;
  right: 12px; }

@media screen and (min-width: 768px) {
  .company {
    padding: 20px;
    padding-top: 75px;
    padding-bottom: 52px; }
  .company__image {
    margin-top: 50px; }
  .company__year-foundation {
    font-size: 250px;
    line-height: 300px;
    transform: translateY(-150px); }
  .company__description {
    margin-top: 130px; }
  .company__link-detail {
    margin-top: 40px; }
  .company__button-up {
    margin-top: 50px;
    right: 20px; } }

@media screen and (min-width: 1440px) {
  .company {
    padding-left: 270px;
    padding-right: 75px;
    padding-top: 150px;
    padding-bottom: 32px; }
  .company__image {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-top: 15px;
    width: 731px; }
  .company__year-foundation {
    transform: translate(-540px, -190px);
    text-align: right; }
  .company__description {
    margin-top: 70px;
    width: 600px; } }

@media screen and (min-width: 1920px) {
  .company {
    position: relative;
    padding-left: 605px;
    padding-right: 240px;
    padding-bottom: 75px;
    background: url(../../img/company_bc_img.png) no-repeat;
    background-position: bottom 90px left 0; }
  .company__title {
    position: absolute;
    left: 310px; } }

.button-up {
  background-color: transparent;
  border: none; }

.new-design {
  display: flex;
  flex-direction: column;
  padding: 12px;
  padding-top: 35px;
  padding-bottom: 92px;
  background-color: #170D08; }

.new-design__title {
  order: 1;
  margin-top: 40px;
  font-family: "Lazurski";
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF; }

.new-design__title-bigger {
  display: block;
  text-align: right;
  color: #E08B66; }

.new-design__description {
  margin: 0;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF; }

.new-design__link-detail {
  margin-top: 30px; }

.new-design__image-wrapper {
  display: none; }

@media screen and (min-width: 768px) {
  .new-design {
    padding: 20px;
    padding-top: 72px;
    padding-bottom: 78px; } }

.main {
  position: relative;
  overflow: hidden; }

@media screen and (min-width: 1440px) {
  .main {
    background: url(../img/background_diamond.png) no-repeat -457px 150px; }
  .main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 215px;
    width: 2px;
    height: 100%;
    background-color: rgba(215, 130, 93, 0.2);
    z-index: 100; } }

@media screen and (min-width: 1921px) {
  header {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1920px !important; }
  section {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 1920px !important; } }
