@font-face {
    font-family: "Intro Light";
    src: url("../fonts/Intro-Light.otf") format("opentype");
  }
  
@font-face {
  font-family: "Lazurski";
  src: url("../fonts/Lazurski-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Lazurski Bold";
  src: url("../fonts/Lazurski-Bold.ttf");
  font-weight: bold;
}
  
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #21120C;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none !important;
}






  
.link-detail {
  display: inline-block;
  color: #E08B66;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  transition: padding-left 300ms;

  &:hover {
    padding-left: 20px;
  }
}

.link-detail__image {
  margin-left: 10px;
}

.button-transition {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  padding-right: 83px;
  color: #E08B66;
  font-size: 16px;
  line-height: 32px;
  font-family: "Intro Light";
  letter-spacing: -0.191667px;
  text-decoration: none;
  border: 1px solid rgba(224, 139, 102, 0.5);


  &:hover > .button-transition__image {
    right: 20px;
  }
}

.button-transition__image {
  position: absolute;
  top: calc(50% - 5px);
  right: 40px;
  transition: right 300ms;
}

.section-title {
  position: relative;
  display: inline-block;
  margin: 0;
  color: #E08B66;
  font-size: 24px;
  line-height: 32px;
  font-family: "Lazurski Bold";
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    display: block;
    width: 50%;
    height: 1px;
    background-color: #E08B66;
  }

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 42px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 64px;
    line-height: 80px;
  }
}



.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  padding: 20px 15px;
  box-sizing: border-box;
  background-color: rgba(175, 175, 175, 0.09);
  transition: border 300ms;


  &:hover {
    border: 1px solid #E08B66;
  }
}

.product-card__image {
  width: 100%;
}

.product-card__title {
  margin: 0px;
  margin-top: 10px;
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 120%;
  font-family: "Lazurski";
  font-weight: normal;
  letter-spacing: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.26);
}

.product-card__description {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    color: #FFFFFF;
    font-family: "Intro Light";
    font-size: 16px;
    line-height: 32px;
  }
}

.product-card__button-detail {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.product-card--view-1 {
  width: 124px;
  height: 124px;

  @media screen and (min-width: 768px) {
    width: 309px;
    height: 285px;
  }
}

.product-card--view-2 {
  width: 122px;
  height: 257px;

  @media screen and (min-width: 768px) {
    width: 309px;
    height: 100%;
  }
}

.our-products__list {
  @media screen and (min-width: 768px) {
    height: 597px !important;
  }
}






@import "./block/slider";

@import "./block/header";
@import "./block/banner";
@import "./block/advantages";
@import "./block/our-products";
@import "./block/collections";
@import "./block/stocks";
@import "./block/company";
@import "./block/new-design";





.main {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .main {
    background: url(../img/background_diamond.png) no-repeat -457px 150px;
  }

  .main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 215px;
    width: 2px;
    height: 100%;
    background-color: rgba(215, 130, 93, 0.2);
    z-index: 100;
  }
}

@media screen and (min-width: 1921px) {
  header {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1920px !important;
  }
  section {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 1920px !important;
  }
}