.our-products {
  position: relative;
  padding: 12px;
  padding-top: 102px;
  padding-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 72px;
    background-image: url(../../img/section_skew_320.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 10;

    @media screen and (min-width: 768px) {
      height: 150px;
      background-image: url(../../img/section_skew_768.svg);
    }

    @media screen and (min-width: 1440px) {
      height: 190px;
      background-image: url(../../img/section_skew_1440.svg);
    }

    @media screen and (min-width: 1920px) {
      height: 300px;
      background-image: url(../../img/section_skew_1920.svg);
    }
  }
}



.our-products__description {
  margin: 0;
  margin-top: 45px;
  color: #FFFFFF;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  font-family: "Intro Light";
}
  
.our-products__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  height: 257px;
  list-style-type: none;
}
  
.product-card__button-transition {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .our-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .our-products__title {
    order: 1;
  }

  .our-products__description {
    order: 2;
    margin-top: 65px;
    width: 716px;
  }

  .product-card__button-transition {
    order: 3;
    margin-top: 30px;
  }

  .our-products__list {
    order: 4;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .our-products {
    padding-left: 270px;
    padding-top: 228px;
  }
}

@media screen and (min-width: 1920px) {
  .our-products {
    position: relative;
    padding-top: 230px;
    padding-bottom: 465px;
    padding-left: 310px;

    background: url(../../img/our_products_diamond_bc.png) no-repeat;
    background-position: bottom 60px left 310px;
  }

  .our-products__description {
    width: 415px;
  }

  .our-products__list {
    position: absolute;
    top: 320px;
    margin-left: 595px;
    height: 675px !important;
  }
}